doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style.
      ul.a {
      display: table;
      margin-left: auto;
      margin-right: auto;
      }
      body {
      background-image:url('1.png');
      }
  body
   div(align="center")
    h1
      a(href='/topic') 방 명 록
    ul.a
      each topic in topics
        li
          a(href='/topic/'+topic.id)= topic.title
    artcle
      form(action='/topic/add' method='post')
        p
          input(type='text' name='title' placeholder='title')
        p
          textarea(name='description' placeholder='description')
        p
          input(type='text' name='author' placeholder='author')
        p
          input(type='submit')
        ul.a
         li
           a(href='/auth/logout') LOGOUT(나가기)
