doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style.
      ul.a {
      display: table;
      margin-left: auto;
      margin-right: auto;
      }
      body {
      background-image:url('1.png');
      }
  body
   div(align="center")
    h1
      a(href='/topic') 방 명 록
    ul.a
      each topic in topics
        li
          a(href='/topic/'+topic.id)= topic.title
    artcle
      h2='글을 삭제 하시겠습니까?'+topic.title
      form(action='/topic/'+topic.id+'/delete' method='post')
        p
          input(type='submit' value='YES')
      a(href='/topic/'+topic.id) NO
      ul.a
       li
         a(href='/auth/logout') LOGOUT(나가기)
