doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style.
      ul.a {
      display: table;
      margin-left: auto;
      margin-right: auto;
      }
      body {
      background-image:url('1.png');
      }
  body
   div(align="center")
    h1
      a(href='/topic') 방 명 록
    ul.a
      each topic in topics
        li
          a(href='/topic/'+topic.id)= topic.title
    artcle
      if topic
        h2= topic.title
        = topic.description
        div= 'by '+topic.author
      else
        h2 Welcome
        | 글을 남겨 주세요
      ul.a
         li
           a(href='/topic/add') 글 추가


         if topic
          li
            a(href='/topic/'+topic.id+'/edit') 글 수정
          li
            a(href='/topic/'+topic.id+'/delete') 글 삭제
          li
            a(href='/auth/logout') LOGOUT(나가기)
